.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
database.db

venv
.env


_pycache_/
*/_pycache_/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile